body {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  background-color: #f2f2f2;
  padding: 5rem 0; }

p {
  font-family: 'Lexend Deca', sans-serif;
  color: rgba(255, 255, 255, 0.75); }

#card-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.card {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 2rem;
  position: relative; }
  .card h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px; }
  .card p {
    width: 90%;
    margin-bottom: 6rem;
    line-height: 2; }
  .card .primary-button {
    position: absolute;
    bottom: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    border: 1px solid #f2f2f2; }
  .card .primary-button:hover {
    cursor: pointer;
    background: none;
    color: #f2f2f2; }

#sedans {
  background-color: #e38826;
  border-radius: 5px 0 0 5px; }
  #sedans button {
    color: #e38826; }
  #sedans button:hover {
    color: #f2f2f2; }

#suvs {
  background-color: #006970; }
  #suvs button {
    color: #006970; }
  #suvs button:hover {
    color: #f2f2f2; }

#luxury {
  background-color: #004241;
  border-radius: 0 5px 5px 0px; }
  #luxury button {
    color: #004241; }
  #luxury button:hover {
    color: #f2f2f2; }

.attribution {
  position: fixed;
  bottom: 1%;
  color: #006970; }
  .attribution a {
    color: #004241;
    text-decoration: none; }
  .attribution a:hover {
    border-bottom: 1px solid #004241; }

@media only screen and (max-width: 768px) {
  .attribution {
    bottom: 0;
    width: 90%;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.5rem 1rem;
    font-size: 80%; } }
